#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  justify-content: center;
}
.sign-in-button,button{
  margin: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
